Package: com.kaneb.kbpreferences
Name: KBPreferences
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Kane B's preferences framework
Maintainer: Kane Buckthorpe
Author: Kane Buvckthorpe
Section: System
Tag: role::developer
